.skin-chameleon #bodyContent p,
.skin-chameleon #firstHeading,
.skin-chameleon h1,
.skin-chameleon h2,
.skin-chameleon h3,
.skin-chameleon body,
.skin-chameleon ul,
.skin-chameleon ol,
.skin-chameleon dl,
.skin-chameleon p,
.skin-chameleon td,
.skin-chameleon th {
    font-family: 'Fira Sans' !important;
    font-weight: 300;
}

.skin-chameleon dt {
    font-weight: 400;
}

.skin-chameleon #bodyContent {
    padding: 0 30px;
}

.skin-chameleon #bodyContent p,
.skin-chameleon #bodyContent ul,
.skin-chameleon #bodyContent ol,
.skin-chameleon #bodyContent dl {
	hyphens: auto;
    font-size: 16px;
    line-height: 1.5;
}

.skin-chameleon #bodyContent p {
    text-align: justify;
}

.skin-chameleon #content {
    background-color: white;
    box-shadow: 0 1px 2px #ccc;
}

body.skin-chameleon {
    background-color: #eee;
}

.skin-chameleon .mw-content-ltr .thumbcaption {
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    color: #555;
    padding: 16px 0 0 0;
    font-family: 'Fira Sans'
}

.skin-chameleon .contentHeader {
	padding: 18px 28px 0 28px;
}

.skin-chameleon #content:after {
    content: "";
    display: block;
    clear: both;
}

.skin-chameleon .thumb.tright {
    margin-left: 32px;
    max-width: 100%;
}

.skin-chameleon .thumbinner {
    border-radius: 0;
    padding: 16px;
    margin: 0;
    max-width: 100%;
}

.skin-chameleon .gallerytext p {
    text-align: left !important;
    line-height: 1.0 !important;
    margin: 0 !important;
    padding-bottom: 1px;
}

.skin-chameleon .gallery {
    text-align: left !important;
}

@media all and (max-width: 768px) {
    .skin-chameleon > .container {
        padding: 0;
    }

    .skin-chameleon #bodyContent {
        padding: 0;
    }
}